.works{
    text-align: center;
    font-family:  Aldous Vertical;
    color: green;
}
.HowItWorks{
    padding-top: 4px;
}
.phon{
    position: relative;
}
.phone{
    position: absolute;
   bottom:35px;
    width: 15em;
    left: 6.5em;
}


.pt{
    padding-top: 6em;
}