@import url('https://fonts.googleapis.com/css2?family=Cantata+One&family=Kumbh+Sans:wght@500;600;700;800&family=Manrope:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 30em;
  overflow-x: hidden;
}

.brand-font {
  font-family: 'Cantata One', serif;
  font-family: 'Kumbh Sans', sans-serif;
  font-family: 'Manrope', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
